body {
    background-color: blue;
}
h1 {
    color: white;
    text-align: center;
}
p {
    text-align: center;
    Color: white;
    font-size: xx-large ;
    padding: 370px 0;
    
    
}